.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  max-width: 100vw;
}

.about-title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  position: relative;
}

.about-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 3px;
  background-color: #464646;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1000px;
  width: 100%;
  justify-content: center;
}

.profile-image {
  width: 250px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  flex-shrink: 0;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.about-details {
  flex: 1;
  min-width: 300px;
  color: #555;
  line-height: 1.7;
}

.about-details p {
  margin-bottom: 15px;
}

.about-details h3 {
  font-size: 1.4em;
  color: #333;
  margin-top: 30px;
  margin-bottom: 15px;
}

.skills-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-tag {
  background-color: #dae2fc;
  color: #0285ff;
  padding: 4px 15px;
  border-radius: 100px;
  font-size: 0.9em;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
